<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>لیست وظایف</title>
</head>
<body>

	{% if messages %}
	    {% for message in messages %}
	        <div style="
	            padding:10px;
	            margin-bottom:10px;
	            {% if 'success' in message.tags %}
	                background:#d4edda; color:#155724;
	            {% elif 'error' in message.tags %}
	                background:#f8d7da; color:#721c24;
	            {% endif %}
	        ">
	            {{ message }}
	        </div>
	    {% endfor %}
	{% endif %}

	{% if user.is_authenticated %}
		<h2>Welcome {{ user.username }}</h2>
		<a href="{% url 'logout' %}">خروج از حساب</a>
	{% else %}
		<a href="{% url 'login' %}">ورود</a>
	{% endif %}
	<br>

	<table border="1">
		<tr>
			<th>ویرایش وظیفه</th>
			<th>حذف وظیفه</th>
			<th>وضعیت</th>
			<th>عنوان</th>
			<th>توضیح</th>
		</tr>
			{% for status, tasks in grouped_todos.items %}
				{% for task in tasks %}
					<tr>
						<td>
						  <a href="{% url 'edit_task' task.id %}"
						     style="color: blue;">
						     ویرایش
						  </a>
						</td>
						<td>
						  <a href="{% url 'delete_task' task.id %}"
						     onclick="return confirm('آیا مطمِن هستید که این وظیفه را پاک کنید؟');"
						     style="color: red;">
						     حذف
						  </a>
						</td>
						<td>{{ status }}</td>
						<td>{{ task.title }}</td>
						<td>{{ task.description }}</td>
					</tr>
				{% endfor %}
			{% endfor %}
	</table>
	<a href="{% url 'creat_task' %}">اضافه کردن وظیفه جدید</a>
</body>
</html>