<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Todo List</title>
</head>
<body>
			<table border="1">
				<tr>
					<th>status</th>
					<th>title</th>
					<th>description</th>
				</tr>
					{% for status, tasks in grouped_todos.items %}
						{% for task in tasks %}
							<tr>
								<td>{{ status }}</td>
								<td>{{ task.title }}</td>
								<td>{{ task.description }}</td>
							</tr>
						{% endfor %}
					{% endfor %}
			</table>
			<a href="{% url 'creat_task' %}">Add New Task</a>
</body>
</html>