<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
</head>
<body>

    <h2>ثبت نام</h2>

    {% if error %}
        <div style="color:red;">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>نام کاربری:</label><br>
        <input type="text" name="username" required>
        <br><br>

        <label>رمز عبور:</label><br>
        <input type="password" name="password" required>
        <br><br>

        <label>تکرار رمز عبور:</label><br>
        <input type="password" name="confirm_password" required>
        <br><br>

        <button type="submit">ثبت نام</button>

    </form>

    <br>

    <a href="{% url 'login' %}">
        قبلاً ثبت نام کرده‌اید؟ ورود
    </a>

</body>
</html>